html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100vh;
  grid-template-areas:
    'filter content'; 
    margin: 0px;
}

h1 {
  color: blueviolet;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.filter {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-content {
  background-color: #c3c3c3;
}

.filter-label {
  position:absolute;
  display: flex;
  align-items: center;
  width: 20%;
  height: 5rem;
  border-radius: 0px 1rem 1rem 0px;
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  background-color: blueviolet;
  margin-top: 10px;
  padding: 0px 0px 0px 20px;
  left: 0px;
}

.filter-input {
  display: flex;
  flex-direction: column;
  margin: 150px 20px 20px 20px;
}

.filter-input > label {
  font-size: large;
  color: #333;
  margin-bottom: 5px;
}

#characters-input {
  width: 20rem;
  height: 3rem;
  border-radius: 1rem 0px 0px 1rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  border: none;
}

.content-checkbox {
  display: flex;
  align-items: center;
  font-size: large;
}

.filter-checkbox {
  margin: 20px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
}

body > .content {
  background: url(../../assets/background.png) no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0px;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > .content > .input-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content input {
  width: 60rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: 3rem;
  outline: none;
  background-color: #c3c3c3;
  text-align: center;
  border: none;
}

#copy-button {
  color: white;
  background-color: blueviolet;
  border-radius: 1rem;
  outline: none;
  border: 1px solid blueviolet;
  font-size: 3rem;
  font-weight: bold;
  width: 5rem;
  height: 85px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

#copy-button > span {
  font-size: 3rem;
}

.content #generate-button {
  color: white;
  background-color: blueviolet;
  border-radius: 1rem;
  outline: none;
  border: 1px solid blueviolet;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  width: 25rem;
  height: 5rem;
  cursor: pointer;
}